html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

body {
  color: #555555;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 17px 32px;
  height: 55px;
  min-width: 190px;
  transition: all 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
  &--white {
    color: $blue;
    background-color: #fff;
    &:hover {
      color: #fff;
      background-color: transparent;
      border: 1px solid #fff;
    }
  }
  &--blue {
    background-color: $blue;
    color: #fff;
    &:hover {
      color: $blue;
      background-color: transparent;
      border: 1px solid $blue;
    }
  }
}
// btn end

.product-title {
  height: 110px;
  padding: 38px 30px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  margin-bottom: 50px;
}

.title {
  color: #000;
  font-size: 36px;
  line-height: 28px;
  margin-bottom: 30px;
}

.desc {
  line-height: 30px;
}
