html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: #555555;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 17px 32px;
  height: 55px;
  transition: all 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn--white {
  color: $blue;
  background-color: #fff;
}
.btn--white {
  &:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }
}
.btn--blue {
  background-color: $blue;
  color: #fff;
}
.btn--blue {
  &:hover {
    color: $blue;
    background-color: transparent;
    border: 1px solid $blue;
  }
}
