@media (max-width: 1400px) {
  .search-home {
    &__inner {
      max-width: 977px;

      &::before {
        width: 97.3%;
      }
      &::after {
        width: 94.7%;
      }
    }
    &__btn {
      min-width: 60px;
      font-size: 0;
      padding: 0;
      &::before {
        content: "\e86f";
        font-family: "Linearicons-Free";
      }
    }
    &__drop-down-list {
      right: 90px;
    }
  }
}

@media (max-width: 1170px) {
  .products {
    padding: 100px 0;
    &__item {
      min-width: 360px;
      max-width: calc(50% - 30px);
    }

    &__inner-btn {
      display: flex;
      flex-wrap: nowrap;
      overflow-y: auto;
    }
    &__btn-filter {
      flex: 0 0 auto;
    }
  }
  .feed {
    padding: 100px 0;
    &__products {
      max-width: none;
      min-width: 290px;
    }
  }
  .weekly {
    padding: 100px 0;
    &__inner-img {
      flex: 0 0 45%;
    }
    &__img {
      max-width: 100%;
    }
  }
  .offer {
    padding: 170px 0 235px;

    &__title {
      font-size: 50px;
      line-height: 62px;
      margin: 0 auto 30px;
    }
    &__subtitle {
      font-size: 25px;
      line-height: 29px;
      max-width: 800px;
      margin-bottom: 60px;
    }
  }
  .facts {
    min-height: 300px;
    padding: 150px 0 80px 0;
    &__inner {
      padding: 0 30px;
    }
  }
  .advantages {
    padding: 100px 0;
    &__item {
      max-width: calc(50% - 30px);
    }
  }
  .sell-buy {
    padding: 85px 0;
    &__title {
      &:before {
        top: 65px;
      }
    }
    &__item {
      max-width: 530px;
    }
  }
  .feedback {
    padding: 100px 0;
  }
  .news {
    padding: 80px 0;
    &__inner {
      flex-wrap: wrap;
    }

    &__item {
      max-width: calc(50% - 30px);
      margin-bottom: 30px;
    }
    &__img {
      width: 100%;
    }
  }
  .footer {
    &__inner {
      flex-wrap: wrap;
      padding: 0 20px;
    }
    &__desc {
      margin-bottom: 20px;
    }
    &__link {
      display: block;
    }

    &__content {
      padding: 80px 0 65px;
    }
    &__about {
      max-width: calc(70% - 40px);
      order: 0;
      border-bottom: 2px solid;
    }

    &__col {
      min-width: calc(30% - 40px);
      padding-bottom: 40px;

      &--first {
        border-bottom: 2px solid;
        padding-bottom: 40px;
        order: 1;
      }
      &--second {
        margin-top: 40px;
        order: 3;
      }
    }

    &__connection {
      order: 2;
      max-width: calc(70% - 40px);
      margin-top: 40px;
    }
    &__form {
      width: 100%;
    }

    &__title {
      margin: 15px 0 20px;
    }
  }
  .search-home {
    &__inner {
      max-width: 870px;
    }
  }
  .header {
    &__megamenu {
      flex-direction: column;
    }

    &__megamenu-col {
      padding-bottom: 20px;
      & + & {
        margin-left: 0;
        border-top: 1px solid #e8ebf0;
        padding-top: 20px;
      }
    }

    &__megamenu-title {
      & + & {
      }
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  .category-page {
    padding-bottom: 60px;
    &__content {
      margin-bottom: 30px;
    }
    .products {
      &__item {
        max-width: calc((100% - 90px) / 3);
        min-width: auto;
      }
    }
    &__inner {
      display: block;
    }
    &__aside {
      margin-right: 0;
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
    }
    .products__item--list {
      justify-content: start;
      max-width: 100%;
      .products__text {
        max-width: 100%;
      }
      .products__box {
        max-width: 250px;
        width: 100%;
      }
      .products__info {
        margin: 0 auto;
      }
    }
  }

  .aside {
    &__item {
      &--copy {
        display: none;
      }
      &--range {
        width: 100%;
      }
      min-height: 0;
      height: 80px;
      & + & {
        margin-top: 0;
      }
      &:not(.aside__item--range) {
        min-height: 0;
        width: 50%;
        margin-bottom: 30px;
      }
      &--range .irs,
      &--range .aside__btn {
        display: none;
      }
    }
    &__item.active {
      height: auto;
      &:not(.aside__item--range) {
        min-height: 375px;
      }
    }
    &__list {
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: 0.5s Out;
    }

    &__item.active &__list {
      visibility: visible;
      opacity: 1;
      height: 100%;
    }
    &__item--range.active .irs,
    &__item--range.active .aside__btn {
      display: block;
    }
    &__item--range.active .aside__btn {
      margin: 80px auto 0;
    }
  }
}

@media (max-width: 940px) {
  .desc {
    line-height: 25px;
  }
  .title {
    margin-bottom: 20px;
  }
  .weekly {
    padding: 80px 0;
    &__inner-img {
      flex: 0 0 45%;
    }
    &__img {
      width: 100%;
      max-height: 320px;
      min-height: auto;
    }
    &__tags {
      margin-bottom: 20px;
    }
    &__item {
      flex-direction: column;
    }
  }
  .products {
    padding: 80px 0;
    &__bottom-btn {
      margin-top: 40px;
    }
  }
  .feed {
    padding: 80px 0;
  }
  .advantages {
    padding: 70px 0;
    &__subtitle {
      margin: 0 auto 50px;
    }
  }

  .offer {
    padding: 160px 0 240px;

    &__title {
      font-size: 40px;
      line-height: 55px;
      margin: 0 auto 25px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 24px;
      max-width: 770px;
      margin-bottom: 50px;
    }
  }
  .features {
    padding: 150px 0 105px;
    &__inner {
      flex-wrap: wrap;
    }

    &__item {
      max-width: 50%;
      margin-bottom: 60px;
    }
  }
  .facts {
    min-height: 250px;
    padding: 130px 0 60px 0;
    &__number {
      font-size: 30px;
      &::before {
        top: -65px;
        font-size: 35px;
      }
    }
  }
  .feedback {
    padding: 80px 0;
    &__item {
      max-width: 100%;
    }
    &__subtitle {
      margin: 0 auto 40px;
    }
  }
  .news {
    padding: 60px 0;
    &__subtitle {
      margin: 0 auto 40px;
    }
  }
  .start {
    padding: 95px 0;
    &__title {
      margin-bottom: 10px;
    }
  }
  .search-home {
    &__inner {
      max-width: 690px;
      padding: 30px;
      min-height: 115px;
      &::before,
      &::after {
        height: 115px;
      }
    }

    &__drop-down-list {
      width: 160px;
      background-position: bottom 22px right 13px;
    }
  }
  .header {
    &__line {
      & + & {
        margin-left: 20px;
      }
    }

    &__menu {
      flex: 0 0 auto;
    }
    &__search {
      margin-left: 20px;
    }
  }
  .category-page {
    .products {
      &__item {
        max-width: calc((100% - 60px) / 2);
        min-width: auto;
      }
    }
    &__filter-category {
      margin-right: 10px;
      & + & {
        margin-left: 0;
        margin-top: 10px;
      }
    }
    &__view {
      display: none;
    }
    &__per-page {
      margin-right: 15px;
    }
  }
}

@media (max-width: 780px) {
  .products {
    padding: 60px 0;
    &__item {
      min-width: 290px;
      max-width: 100%;
    }
    &__img {
      height: 230px;
    }
    &__bottom-btn {
      margin-top: 40px;
    }
  }
  .weekly {
    padding: 60px 0;
  }
  .feed {
    padding: 60px 0;
  }

  .offer {
    padding: 100px 0 220px;

    &__title {
      font-size: 35px;
      line-height: 50px;
      margin: 0 auto 20px;
    }
    &__subtitle {
      font-size: 18px;
      max-width: 700px;
      margin-bottom: 40px;
    }
  }
  .offer__btn-link + .offer__btn-link {
    margin-left: 55;
  }
  .features {
    padding: 150px 0 50px;
    &__item {
      max-width: 100%;
      margin-bottom: 50px;
    }
    &__image {
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 10px;
    }
  }
  .facts {
    min-height: 190px;
    padding: 100px 0 40px 0;
    &__number {
      font-size: 25px;
      &::before {
        top: -53px;
      }
    }
    &__fact {
      font-size: 16px;
    }
  }
  .advantages {
    &__item {
      max-width: 100%;
      padding: 30px 20px;
    }

    &__item-title {
      padding-top: 80px;
      font-size: 24px;
      margin-bottom: 8px;
      &::before {
        width: 50px;
        height: 50px;
        top: -20px;
      }
    }
  }
  .sell-buy {
    padding: 60px 0;
    &__title {
      margin-bottom: 10px;
      &:before {
        top: 85px;
        width: 96px;
        height: 81px;
      }
      &--right {
        &:before {
          width: 91px;
          height: 91px;
        }
      }
    }
    &__item {
      max-width: 530px;
    }
    &__btn {
      margin: 40px auto 0;
      width: 100%;
    }
  }
  .feedback {
    padding: 80px 0;
    &__subtitle {
      margin: 0 auto 0px;
    }
    &__btn {
      margin: 20px auto 0;
    }
  }
  .news {
    &__item {
      max-width: 100%;
    }
    &__img {
      max-height: 230px;
    }
  }
  .garantee {
    &__inner {
      flex-wrap: wrap;
    }
    &__item {
      width: 100%;

      &--support {
        border-left: none;
        border-top: 1px solid #e8eaf3;
      }
    }
  }
  .footer {
    &__content {
      padding: 80px 0 65px;
    }
    &__about {
      max-width: 100%;
      padding-bottom: 35px;
      padding-right: 0;
    }

    &__col {
      min-width: 50%;
      padding-bottom: 35px;
      border-bottom: 2px solid;
      margin-top: 35px;

      &--first {
      }
      &--second {
        order: 2;
      }
    }

    &__connection {
      order: 3;
      max-width: 100%;
      margin-top: 30px;
      padding-right: 0;
    }
  }
  .header {
    & .search__form,
    &__account-text {
      display: none;
    }

    &__btn-top {
      margin: 0 auto;
    }
    &__middle {
      min-height: 55px;
    }
    &__top {
      padding: 20px 0;
    }

    &__submenu-list::before,
    &__megamenu::before {
      display: none;
    }

    &__submenu-list,
    &__megamenu {
      top: 37px;
    }
    &__submenu-list--account,
    &__megamenu--account {
      top: 55px;
    }

    &__megamenu-list {
      display: none;
    }
    &__megamenu-title {
    }
  }

  .header__megamenu-col.active1 .header__megamenu-list {
    display: block;
  }

  .overview {
    top: 55px;
    &::before {
      display: none;
    }
  }

  .search-home {
    &__form {
      flex-wrap: wrap;
    }

    &__btn {
      width: 100%;
      font-size: 16px;
      &::before {
        display: none;
      }
    }
    &__drop-down-list {
      position: static;
      width: 100%;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    &__input {
      margin-right: 0;
      margin-bottom: 10px;
      padding: 20px;
    }
  }

  .aside {
    &__item:not(.aside__item--range) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .category-page {
    &__filter {
      margin-bottom: 30px;
    }
    &__filter-inner {
      justify-content: start;
    }
    &__filter-categories {
      display: none;
    }
    &__sort {
      margin-left: 0;
    }
  }
}

@media (max-width: 640px) {
  .product-title {
    font-size: 20px;
    height: 65px;
    padding: 10px 20px;
    margin-bottom: 35px;
  }
  .features__item {
    padding: 25px 15px 25px;
    margin-bottom: 20px;
  }
  .products {
    &__filter-btn {
      padding: 13px 28px;
      &::after {
        top: 14px;
      }
    }
    &__inner-btn {
      padding: 16px;
      margin-bottom: 35px;
    }
    &__list {
      min-width: 200px;
    }
    &__line + &__line {
      margin-top: 25px;
    }

    &__inner-items {
      margin: 0;
    }
    &__text {
      padding: 15px;
    }
    &__info {
      padding: 15px 15px;
    }

    &__item {
      margin: 0 0 30px;
    }
    &__bottom-btn {
      padding: 0 15px;
    }
  }

  .news {
    &__text {
      padding: 15px;
    }
    &__subtitle,
    &__title {
      padding: 0 15px;
    }
  }
  .feed__title,
  .weekly__title {
    padding-top: 23px;
  }

  .weekly {
    &__item-inner {
      padding: 30px 15px 0 15px;
    }
  }
  .offer {
    padding: 85px 0 205px;

    &__title {
      font-size: 30px;
      line-height: 40px;
      margin: 0 auto 15px;
    }
    &__subtitle {
      font-size: 16px;
      max-width: 480px;
      margin-bottom: 35px;
    }
    &__btn-link {
      padding: 10px 19px;
      height: 40px;
    }
  }

  .facts {
    &__inner {
      flex-wrap: wrap;
      margin-bottom: -90px;
    }
    &__item {
      width: 50%;
      margin-bottom: 95px;
    }
    &__number {
      margin-bottom: 5px;
    }
  }
  .sell-buy {
    padding: 0;
    &__inner {
      flex-wrap: wrap;
    }
    &__item {
      max-width: 530px;
      max-width: 100%;
      padding: 10px 15px 50px;
    }
    &::before {
      top: 0;
    }
    &::before,
    &::after {
      height: 50%;
      width: 100%;
    }

    &::after {
      top: 50%;
    }
  }

  .feedback {
    padding: 60px 0;
    &__item {
      padding: 30px 15px;
    }
    &__btn {
      max-width: calc(100% - 30px);
    }
  }
  .garantee {
    &__item {
      padding: 175px 0 40px;
      min-height: 240px;
    }
  }
  .start {
    padding: 80px 0;
  }

  .header {
    &__inner {
      flex-wrap: wrap;
    }
    &__logo {
      margin-left: 8px;
      width: 150px;
      img {
        width: 77%;
      }
    }
    &__btn-top {
      width: 100%;
      order: 3;
      text-align: center;
      margin-top: 10px;
    }
    &__info {
      margin-left: auto;
    }
    &__avatar {
      width: 40px;
      height: 40px;
    }
    &__submenu-list--account,
    &__megamenu--account {
      top: 53px;
    }
    &__submenu-list--account::after,
    &__megamenu--account::after {
      right: 11px;
    }
  }
  .overview {
    top: 41px;
  }
  .advantages {
    &__inner {
      margin: 0;
    }
    &__item {
      margin: 0 0 30px;
      padding: 20px 15px;
    }
  }
  .category-page .products__item {
    margin: 0 15px 30px;
    max-width: 100%;
  }
  .form {
    padding: 40px 30px 45px;
    &__desc {
      &::after {
        width: calc(100% + 60px);
        left: -30px;
      }
    }
  }

  .banner--window-page {
    padding: 20px 0 10px;
  }
  .window-page {
    padding: 55px 0 100px;
  }
}

@media (max-width: 520px) {
  .title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 35px;
  }
  .offer {
    padding: 75px 0 215px;

    &__title {
      font-size: 25px;
      line-height: 30px;
      margin: 0 auto 12px;
    }
    &__subtitle {
      font-size: 16px;
      max-width: 430px;
      margin-bottom: 40px;
      line-height: 20px;
    }

    &__btn {
      flex-wrap: wrap;
      margin: 0 auto;
    }
    &__btn-link {
      width: 50%;
    }
    .offer__btn-link + .offer__btn-link {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .features {
    padding: 150px 0 0;
    &__item {
      padding: 30px 20px 30px;
    }
    &__inner {
      margin: 0 -15px;
    }
  }
  .feedback {
    &__item {
      padding: 30px 20px;
    }
    &__author {
      &::after {
        width: 35px;
        height: 35px;
      }
    }
    &__avatar {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }
  .news {
    padding: 40px 0;
    &__text {
      padding: 20px;
      padding-top: 15px;
    }
    &__item-title {
      margin-bottom: 5px;
    }
  }
  .advantages {
    &__inner {
      margin: 0 -15px;
    }
  }
  .start {
    padding: 60px 0;
  }
  .footer {
    &__content {
      padding: 60px 0 65px;
    }
    &__inner {
      padding: 0;
    }
    &__about {
      max-width: 100%;
      padding-bottom: 25px;
    }

    &__col {
      min-width: 100%;
      border-bottom: 2px solid;
      margin-top: 0;
      padding-bottom: 10px;
      .footer__title {
        position: relative;
        &::after {
          content: "\e874";
          position: absolute;
          font-family: "Linearicons-Free";
          right: 0;
          top: 2px;
          font-size: 13px;
        }
      }
    }
    &__list {
      display: none;
      opacity: 0;
      height: 0;
      transition: 0.5s ease-in-out;
    }
    &__social-line {
      margin-right: 15px;
      margin-bottom: 15px;
      & + & {
        margin-left: 0;
      }
    }

    &__col.active &__list {
      display: block;
      opacity: 1;
      height: 100%;
    }
  }
  .header {
    &__inner {
      position: static;
    }
    &__middle {
      position: absolute;
      left: 0;
      top: 25px;
      padding: 0;
    }
    &__menu-btn {
      display: block;
    }
    &__menu-list {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 25px;
      width: 100vw;
      background-color: #fff;
      z-index: 10;
    }
    &__menu-line {
      display: block;
      text-align: center;
      background-color: $grey-bg;
      & + & {
        margin-left: 0;
        border-top: 1px solid $grey-bg-dark;
      }
    }
    &__menu-link {
      display: block;
      padding: 15px 0;
    }
    &__top {
      padding: 15px 0;
    }
    &__logo {
      margin-left: 50px;
      max-width: 100px;
      flex: 3;
    }

    &__info {
      flex: 7;
      justify-content: space-around;
    }

    &__account {
      flex: 1;
    }

    // sub

    &__submenu-list:not(.header__submenu-list--account),
    &__megamenu {
      box-shadow: none;
      border-radius: 0;
      background-color: #fff;
      border-top: none;
      position: static;
      z-index: 5;
      display: none;
      visibility: visible;
      transform: none;
      transform-origin: 0 0;
      transition: 0.5s ease-in-out;
      width: 100%;
    }
    &__submenu-list {
      &.active {
        display: block;
      }
    }
    &__item {
      position: static;
    }

    &__submenu-list--account {
      width: 100vw;
    }

    &__account-box {
      position: static;
    }
    &__submenu-list--account,
    &__megamenu--account {
      right: -15px;
      top: 35px;
    }

    &__submenu-list--account::after,
    &__megamenu--account::after {
      top: -11px;
      right: 26px;
    }
  }

  .overview {
    width: 100vw;
    top: 68px;
    left: 0;
    &--basket {
      width: 100vw;
      top: 68px;
      left: 0;
    }

    &::after {
      right: 189px;
    }
  }
  .header__item-link--notice + .overview::after {
    right: 304px;
  }
  .header__item-link--messages + .overview::after {
    right: 214px;
  }
  .header__item-link--basket + .overview::after {
    right: 120px;
  }
  .header__item-link + .overview::after {
    display: none;
  }

  .products {
    &__filter-btn {
      min-width: 120px;
    }
    &__list {
      top: 78px;
      width: 100%;
      left: 0;
      &::before {
        right: 25px;
      }
    }
  }
  .products__link + .products__link {
    margin-top: 25px;
  }
  .category-page {
    padding-bottom: 30px;
    &__content {
      margin-bottom: 0;
    }
    &__filter {
      height: auto;
    }
    &__filter-inner {
      flex-wrap: wrap;
    }

    &__sort {
      margin-bottom: 10px;
      margin-right: 0;
      width: 100%;
    }
    &__per-page {
      margin-right: 0;
      width: 100%;
    }
    &__drop-down-list {
      width: 100%;
    }
  }

  .pagination {
    &__list {
      text-align: start;
    }
    &__link,
    &__hellip {
      height: 35px;
      line-height: 35px;
      min-width: 35px;
    }
    &__line {
      & + & {
        margin-left: 0;
      }
    }
    &__link--next {
      margin-left: 0;
    }
    &__link--prev {
      margin-right: 0;
    }
  }
  .form {
    padding: 30px 20px 35px;
    margin: 0px -15px;
    overflow: hidden;
    &__desc {
      &::after {
        width: calc(100% + 40px);
        left: -20px;
      }
    }
  }
  .banner--window-page {
    padding: 10px 0 0px;
  }
  .window-page {
    padding: 40px 0 65px;
  }
}

@media (max-width: 380px) {
  .product-title {
    padding: 10px;
  }
  .offer {
    padding: 60px 0 200px;
  }
  .weekly {
    &__tag {
    }
    &__tags {
      margin-bottom: 0;
    }
    &__info {
      flex-wrap: wrap;
    }

    &__price,
    &__like,
    &__buy,
    &__rating {
      margin-bottom: 15px;
    }
    &__like {
      margin-left: auto;
    }
    &__buy {
      margin-left: auto;
      margin-right: 0;
    }
  }
  .offer__btn + .offer__btn {
    margin-left: 0;
    margin-top: 15px;
  }
  .btn {
    width: 100%;
  }

  .facts {
    padding: 75px 0 40px 0;
    &__inner {
      margin-bottom: -80px;
    }
    &__item {
      margin-bottom: 80px;
    }
    &__number {
      font-size: 20px;
      margin-bottom: 0;
      &::before {
        top: -40px;
        font-size: 25px;
      }
    }
  }
  .advantages__number {
    font-size: 30px;
  }

  .header {
    &__logo {
      display: none;
    }
    &__info {
      margin-left: 60px;
    }

    &__item-box .overview::after {
      right: calc(100% - 74.5%);
    }
  }
}

@media (min-width: 521px) {
  .header__menu-list {
    display: block !important;
  }
}
