$blue: #0674ec;
$violet: #7347c1;
$green: #62d03a;
$red: #ff6a6c;
$grey-dark: #333;
$grey-bg-dark: #eff1f5;
$grey-bg: #f6f7fb;

@mixin flex-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin item {
  max-width: 360px;
  border-radius: 4px;
  background-color: #fff;
}

@mixin title-item {
  font-size: 24px;
  margin-bottom: 22px;
}
