@import "vars";
@import "global";
@import "fonts";

.header {
	&__top {
		background-color: #eef1f3;
		padding: 25px 0;
	}
	&__logo {
		margin-left: 8px;
	}
	&__btn-top {
		font-size: 14px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		border-radius: 18px;
		background-color: #0674ec;
		padding: 9px 18px 11px;
		margin-right: 50px;
		margin-left: auto;
		color: #fff;
		transition: all 0.3s;
		&:hover {
			opacity: 0.8;
		}
	}

	&__counter-badge {
		border-radius: 11px;
		padding: 0 5px 1px;
		background-color: green;
		position: absolute;
		left: 8px;
		top: -9px;
		z-index: 1;
		font-size: 14px;
		font-weight: 500;
		color: #fff;
	}
	&__notice {
		margin-right: 48px;
		position: relative;
		&::before {
			content: "\e858";
			position: absolute;
			font-family: "Linearicons-Free";
			left: 0;
			color: #7e8fa1;
		}
	}

	&__notice-counter {
		background-color: #ff6a6c;
	}

	&__messages {
		margin-right: 54px;
		position: relative;
		&::before {
			content: "\e818";
			position: absolute;
			font-family: "Linearicons-Free";
			left: 0;
			color: #7e8fa1;
		}
	}

	&__messages-counter {
		background-color: #62d03b;
		left: 10px;
	}

	&__basket {
		margin-right: 62px;
		position: relative;
		&::before {
			content: "\e82e";
			position: absolute;
			font-family: "Linearicons-Free";
			left: 0;
			color: #7e8fa1;
		}
	}

	&__basket-counter {
		background-color: $blue;
		left: 11px;
	}

	&__account-text {
		margin-left: 22px;
		font-weight: 500;
	}
	&__avatar {
		width: 50px;
		height: 50px;
		border-radius: 50px;
		background-color: #7c7979;
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 0;
	}

	&__nickname {
		display: block;
		color: $grey-dark;
	}

	&__total-sum {
		display: block;
		font-size: 15px;
		color: $blue;
	}

	&__middle {
		min-height: 79px;
		padding: 17px 0;
	}
	&__menu-list {
		padding: 0;
	}
	&__menu-item {
		display: inline-block;
	}

	&__menu-link {
		color: $grey-dark;
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		border-radius: 28px;
		padding: 5px 14px 6px;
		background-color: none;
		transition: background 0.5s, color 0.1s;
		&:hover,
		&:active {
			background-color: $blue;
			color: #fff;
		}
	}

	&__search-form {
		width: 360px;
		position: relative;
	}
	&__search-input {
		display: block;
		width: 100%;
		height: 46px;
		border-radius: 23px;
		border: 1px solid #d9dfe5;
		padding: 16px 85px 16px 25px;
		outline: transparent;
		&::placeholder {
			color: #898f96;
			font-size: 15px;
		}
	}
	&__search-btn {
		width: 70px;
		height: 46px;
		border-radius: 23px;
		background-color: #0674ec;
		background-image: url(../images/icon/search.png);
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			opacity: 0.7;
		}
	}
	&__offer {
		padding: 185px 0 256px;
		background-color: #441c7c;
		background-image: linear-gradient(to left, rgba(0, 48, 222, 0.8) 0%, rgba(46, 90, 251, 0.8) 100%);
		text-align: center;
	}

	&__title {
		max-width: 815px;
		margin: 0 auto 38px;
		color: #f3f3f8;
		font-size: 60px;
		line-height: 70px;
		font-weight: 700;
		div {
			font-weight: 400;
		}
	}

	&__subtitle {
		margin: 0 auto 38px;
		color: #f3f3f8;
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		max-width: 890px;
		margin-bottom: 68px;
	}

	&__btn {
		display: inline-block;
		& + & {
			margin-left: 30px;
		}
	}
}
// header end

.search {
	position: relative;
	&__inner {
		width: 1140px;
		background-color: #fff;
		padding: 40px;
		min-height: 135px;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
		border-radius: 6px;
		position: absolute;
		bottom: 0;
		transform: translateY(50%);
		&::before {
			content: "";
			position: absolute;
			width: 1110px;
			height: 135px;
			border-radius: 6px;
			background-color: #fff;
			opacity: 0.5;
			left: 50%;
			top: -13px;
			transform: translateX(-50%);
			z-index: -1;
		}
		&::after {
			content: "";
			position: absolute;
			width: 1080px;
			height: 135px;
			border-radius: 6px;
			background-color: #fff;
			opacity: 0.5;
			left: 50%;
			top: -26px;
			transform: translateX(-50%);
			z-index: -2;
		}
	}

	&__form {
		width: 807px;
		position: relative;
	}

	&__input {
		display: block;
		width: 100%;
		height: 55px;
		padding: 20px 224px 20px 29px;
		border-radius: 4px;
		border: 1px solid #dcdcdc;
		outline: transparent;
		&::placeholder {
			color: #676767;
			font-size: 15px;
			transition: all 0.3s;
		}
	}

	&__drop-down-list {
		width: 195px;
		height: 55px;
		color: #555555;
		position: absolute;
		padding-left: 20px;
		top: 0;
		right: 0;
		border-radius: 0 4px 4px 0;
		border: 1px solid #dcdcdc;
		outline: transparent;
		appearance: none;
		background-image: url(../images/arrow-down.png);
		background-repeat: no-repeat;
		background-position: bottom 22px right 21px;
		cursor: pointer;
		&:hover {
			border-color: $blue;
		}
	}

	&__btn {
		min-width: 223px;
		padding: 18px;
		height: 55px;
		color: #fff;
		border-radius: 4px;
		background-color: #0674ec;
		border: none;
		position: absolute;
		top: 0;
		left: 837px;
		cursor: pointer;
		transition: all 0.3s;
		&:hover {
			opacity: 0.8;
		}
	}
}

// search end

.features {
	padding: 185px 0 120px;
	&__inner {
		align-items: stretch;
	}

	&__item {
		max-width: 360px;
		text-align: center;
		padding: 40px 35px 50px;
		border-radius: 4px;
		text-align: center;
		&:hover {
			box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
		}
	}

	&__image {
		margin-bottom: 38px;
	}
	&__image--big {
		margin-top: -8px;
	}
	&__title {
		color: #010101;
	}
}
// features end

.weekly {
	background-color: $grey-bg-dark;
	padding: 120px 0;

	&__inner {
		position: relative;

		& .slick-arrow {
			position: absolute;
			top: -127px;
			z-index: 5;
			font-size: 0;
			border: 0;
			background-color: transparent;
			outline: transparent;
			background-color: #7347c1;
			cursor: pointer;
			border: 2px solid #7347c1;
			&:hover {
				border: 2px solid #fff;
			}
		}
		& .slick-prev::before,
		& .slick-next::before {
			display: none;
		}
		& .slick-prev {
			right: 85px;
			background-image: url(../images/slider-arrow-left.png);
			background-repeat: no-repeat;
			background-position: center;
			width: 55px;
			height: 45px;
			border-radius: 23px 0 0 23px;
		}
		& .slick-next {
			right: 30px;
			background-image: url(../images/slider-arrow-right.png);
			background-repeat: no-repeat;
			background-position: center;
			width: 55px;
			height: 45px;
			border-radius: 0 23px 23px 0;
		}
	}

	&__item {
		max-width: 1140px;
		box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
		border-radius: 4px;
		background-color: #fff;
		align-items: stretch;
		overflow: hidden;
	}

	&__inner-img {
		position: relative;
		transition: all 0.5s;
		&:hover:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: transparent;
			background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
			opacity: 0.9;
		}
		&:hover .weekly__item-btm {
			display: block;
			z-index: 1;
		}
	}

	&__img-link {
		// background-repeat: no-repeat;
		// background-position: center;
		// background-size: cover;
		position: relative;
		transition: all 0.8s;
	}
	&__img {
		width: 555px;
		min-height: 450px;
		height: 100%;
	}
	&__item-btm {
		display: none;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__btn-img {
		font-size: 15px;
		font-weight: 500;
		color: #fff;
		border-radius: 23px;
		padding: 13px 28px;
		height: 45px;
		transition: all 0.5s;
		border: 1px solid #fff;
		cursor: pointer;
		& + & {
			margin-left: 7px;
		}
		&:hover {
			background-color: #fff;
			color: $blue;
		}
	}

	&__item-inner {
		@include flex-c;
		padding: 50px 50px 0 50px;
	}

	&__text {
		margin-bottom: 30px;
	}

	&__item-title {
		font-size: 20px;
		font-weight: 500;
		color: #000;
		margin-bottom: 15px;
		display: inline-block;
	}
	&__box {
		margin-bottom: 15px;
		justify-content: flex-start;
	}
	&__author {
		font-size: 15px;
		color: #000;
		display: flex;
		align-items: center;
	}

	&__avatar {
		width: 28px;
		height: 28px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: inline-block;
		border-radius: 50%;
		margin-right: 7px;
	}

	&__category {
		margin-left: 45px;
	}

	&__desc {
	}

	&__tags {
		margin-bottom: 44px;
		justify-content: start;
		margin-bottom: auto;
	}
	&__tag {
		color: #868c96;
		font-size: 15px;
		border-radius: 14px;
		background-color: #f1f3f6;
		padding: 7px 15px;
		& + & {
			margin-left: 7px;
		}
	}

	&__info {
		padding: 24px 0;
		justify-content: start;
		border-top: 1px solid #ececec;
		font-size: 15px;
	}

	&__price {
		border-radius: 16px;
		color: #fff;
		background-color: $blue;
		padding: 9px 18px;
		font-weight: 500;
		margin-right: 20px;
	}

	&__like {
		color: #555;
		margin-right: 20px;
		position: relative;
		padding-left: 26px;
		&::before {
			content: "\e813";
			position: absolute;
			font-family: "Linearicons-Free";
			left: 0;
			color: #7f4ec2;
		}
	}

	&__buy {
		color: $blue;
		margin-right: 20px;
		position: relative;
		padding-left: 24px;
		&::before {
			content: "\e82e";
			position: absolute;
			font-family: "Linearicons-Free";
			left: 0;
			color: $blue;
		}
	}
	&__rating {
		margin-left: auto;
	}
}
// weekly end

.products {
	background-color: $grey-bg;
	padding: 120px 0;
	&__top {
		position: relative;
	}
	&__title {
		// margin-bottom: 30px;
	}
	&__filter {
		color: #747b86;
		font-size: 16px;
		padding-right: 30px;
		position: relative;
	}
	&__filter-btn {
		position: absolute;
		cursor: pointer;
		width: 10px;
		height: 21px;
		background-image: radial-gradient(circle at center, #a3b1c4 1.5px, transparent 2px);
		background-size: 11px 7px;
		top: 1px;
		right: 3px;
		transition: all 0.5s;
		&:hover {
			background-image: radial-gradient(circle at center, $blue 1.5px, transparent 2px);
		}
	}

	&__list {
		min-width: 183px;
		box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
		border-radius: 3px;
		background-color: #fff;
		padding: 27px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 7px 12px 7px;
			border-color: transparent transparent #fff transparent;
			top: -12px;
			right: 20px;
		}
		position: absolute;
		top: 58px;
		right: 11px;
		z-index: 2;
		display: none;
	}

	&__line {
		list-style: none;
		font-size: 15px;
		& + & {
			margin-top: 14px;
		}
	}
	&__link {
		color: #747b86;

		&:hover {
			color: $blue;
		}
	}
	&__inner-btn {
		padding: 30px;
		box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
		border-radius: 4px;
		background-color: #fff;
		margin-bottom: 50px;
	}

	&__btn-filter {
		font-size: 15px;
		color: #747b86;
		padding: 8px 20px;
		border: none;
		border-radius: 16px;
		background-color: #f1f3f6;
		cursor: pointer;
		outline: transparent;
		transition: all 0.5s;
		&.mixitup-control-active {
			background-color: $blue;
			color: #fff;
			&:hover {
				background-color: $blue;
			}
		}
		&:hover {
			background-color: #bdd7ff;
		}
		& + & {
			margin-left: 5px;
		}
	}

	&__inner-items {
		flex-wrap: wrap;
		align-items: stretch;
	}

	&__item {
		@include flex-c;
		@include item;
		width: 100%;
		box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
		margin-bottom: 30px;
		overflow: hidden;
	}
	&__inner-img {
		position: relative;
		transition: all 0.5s;
		&:hover:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: transparent;
			background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
			opacity: 0.9;
		}
		&:hover .products__item-btm {
			display: block;
			z-index: 1;
		}
	}
	// &__img {
	// 	min-height: 230px;
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// 	background-size: cover;
	// 	display: block;
	// 	position: relative;
	// 	transition: all 0.8s;
	// }

	&__img-link {
		// background-repeat: no-repeat;
		// background-position: center;
		// background-size: cover;
		position: relative;
		transition: all 0.8s;
	}
	&__img {
		width: 360px;
		min-height: 230px;
		height: 100%;
	}

	&__item-btm {
		display: none;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	&__btn-img {
		font-size: 15px;
		font-weight: 500;
		color: #fff;
		border-radius: 23px;
		padding: 13px 28px;
		height: 45px;
		transition: all 0.5s;
		border: 1px solid #fff;
		cursor: pointer;
		& + & {
			margin-left: 7px;
		}
		&:hover {
			background-color: #fff;
			color: $blue;
		}
	}

	&__text {
		padding: 30px;
		margin-bottom: auto;
	}

	&__item-title {
		font-size: 20px;
		font-weight: 500;
		color: #000;
		margin-bottom: 15px;
		display: inline-block;
	}
	&__box {
		margin-bottom: 15px;
		justify-content: flex-start;
		// flex-wrap: wrap;
	}
	&__author {
		font-size: 15px;
		color: #000;
		display: flex;
		align-items: center;
		margin-right: 45px;
		// margin-bottom: 15px;
		// margin: 0 45px 15px 0;
	}

	&__avatar {
		width: 28px;
		height: 28px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: inline-block;
		border-radius: 50%;
		margin-right: 7px;
		flex: 0 0 28px;
	}

	&__category {
		position: relative;
		// padding-left: 30px;
		// margin-bottom: 15px;
	}
	&__category-icon {
		position: absolute;
		content: "";
		left: -10px;
		top: 50%;
		transform: translate(-100%, -50%);
	}

	&__info {
		padding: 15px 30px;
		border-top: 1px solid #ececec;
		font-size: 15px;
	}

	&__price {
		color: $blue;
		font-weight: 500;
		border-radius: 15px;
		background-color: rgba($blue, 0.1);
		padding: 6px 16px;
		margin-right: 15px;
	}

	&__like {
		color: #555;
		position: relative;
		padding-left: 22px;
		margin-right: 15px;
		&::before {
			content: "\e813";
			position: absolute;
			font-family: "Linearicons-Free";
			left: 0;
			color: #7f4ec2;
		}
	}

	&__rating {
		margin-right: auto;
		// margin-left: 16px;
	}

	&__buy {
		color: $blue;
		position: relative;
		padding-left: 23px;
		&::before {
			content: "\e82e";
			position: absolute;
			font-family: "Linearicons-Free";
			left: 0;
			color: $blue;
		}
	}
	&__bottom-btn {
		margin-top: 60px;
		text-align: center;
	}
}
// products end

.feed {
	background-color: $grey-bg-dark;
	padding: 120px 0;

	&__inner {
		position: relative;

		& .slick-arrow {
			position: absolute;
			top: -127px;
			z-index: 5;
			font-size: 0;
			border: 0;
			background-color: transparent;
			outline: transparent;
			background-color: #7347c1;
			border: 2px solid #7347c1;
			cursor: pointer;
			&:hover {
				border: 2px solid #fff;
			}
		}
		& .slick-prev::before,
		& .slick-next::before {
			display: none;
		}
		& .slick-prev {
			right: 85px;
			background-image: url(../images/slider-arrow-left.png);
			background-repeat: no-repeat;
			background-position: center;
			width: 55px;
			height: 45px;
			border-radius: 23px 0 0 23px;
		}
		& .slick-next {
			right: 30px;
			background-image: url(../images/slider-arrow-right.png);
			background-repeat: no-repeat;
			background-position: center;
			width: 55px;
			height: 45px;
			border-radius: 0 23px 23px 0;
		}

		& .slick-list {
			margin: 0 -15px;
		}
		& .slick-slide {
			margin: 0 15px;
		}
	}

	&__box {
	}

	&__item {
		@include item;
		box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
		align-items: stretch;
		overflow: hidden;
	}
}
// feed end

.facts {
	min-height: 350px;
	background-color: #212225;
	padding: 190px 0 100px 0;

	&__item {
		text-align: center;
		position: relative;
	}

	&__number {
		color: #feb71d;
		font-size: 36px;
		margin-bottom: 10px;
		position: relative;
		&::before {
			position: absolute;
			font-family: "Linearicons-Free";
			top: -90px;
			left: 50%;
			transform: translateX(-50%);
			color: #feb71d;
			font-size: 48px;
			content: "\e84c";
		}

		&--blue {
			color: #58c9e9;
			&::before {
				content: "\e80b";
				color: inherit;
			}
		}
		&--green {
			color: #77de51;
			&::before {
				content: "\e854";
				color: inherit;
			}
		}
		&--red {
			color: #ff6a6d;
			&::before {
				content: "\e82b";
				color: inherit;
			}
		}
	}

	&__fact {
		color: #ffffff;
		font-size: 18px;
	}
}
// facts end

.advantages {
	padding: 120px 0;
	text-align: center;

	&__title {
		span {
			color: $blue;
		}
	}

	&__subtitle {
		line-height: 30px;
		margin: 0 auto 60px;
		max-width: 675px;
	}

	&__inner {
		flex-wrap: wrap;
		align-items: stretch;
	}

	&__item {
		@include item;
		box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
		padding: 50px 35px;
		margin-bottom: 30px;
		text-align: center;
		position: relative;
	}

	&__number {
		opacity: 0.2;
		color: #5c87f8;
		font-size: 48px;
		font-weight: 300;
		position: absolute;
		top: 10px;
		left: 20px;
	}

	&__item-title {
		padding-top: 105px;
		@include title-item;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			background-image: url(../images/icon/license.svg);
			width: 60px;
			height: 60px;
			background-repeat: no-repeat;
			background-size: cover;
			top: -30px;
			left: 50%;
			transform: translate(-50%, 50%);
		}
		&--magic {
			&:before {
				background-image: url(../images/icon/magic-wand.svg);
			}
		}
		&--lock {
			&:before {
				background-image: url(../images/icon/lock.svg);
			}
		}
		&--chart-bars {
			&:before {
				background-image: url(../images/icon/chart-bars.svg);
			}
		}
		&--leaf {
			&:before {
				background-image: url(../images/icon/leaf.svg);
			}
		}
		&--phone {
			&:before {
				background-image: url(../images/icon/phone.svg);
			}
		}
	}
}
// advantages end

.sell-buy {
	padding: 100px 0;
	color: #fff;
	// background: url(../images/sell-buy-BG-left.jpg) no-repeat, url(../images/sell-buy-BG-right.jpg) no-repeat;
	// background-position: top left, top right;
	// background-size: 50% 100%;
	width: 100%;
	text-align: center;
	position: relative;
	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 50%;
		top: 0;
		z-index: -1;
	}

	&::before {
		background: url(../images/sell-buy-BG-left.jpg) no-repeat;
		left: 0;
		background-size: cover;
	}
	&::after {
		background: url(../images/sell-buy-BG-right.jpg) no-repeat;
		right: 0;
		background-size: cover;
	}

	&__inner {
	}

	&__item {
		max-width: 580px;
		margin: 0 auto;
		@include flex-c;
	}

	&__title {
		@include title-item;
		padding-top: 150px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			background-image: url(../images/icon/sell-bay-Icon-left.svg);
			width: 120px;
			height: 101px;
			background-repeat: no-repeat;
			background-size: cover;
			top: 50px;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&--right {
			&:before {
				background-image: url(../images/icon/sell-bay-Icon-right.svg);
				width: 100px;
				height: 100px;
			}
		}
	}

	&__subtitle {
	}

	&__btn {
		display: inline-block;
		margin-top: 50px;
		width: max-content;
		margin: 50px auto 0;
	}
}
// sell-buy end

.feedback {
	padding: 120px 0;
	text-align: center;

	&__title {
		span {
			color: $blue;
		}
	}

	&__subtitle {
		margin: 0 auto 60px;
		max-width: 675px;
	}

	&__inner {
		align-items: stretch;

		& .slick-list {
			margin: 0 -15px;
		}
		& .slick-slide {
			margin: 0 15px;
			padding: 50px 0;
		}
	}

	&__box {
	}

	&__item {
		@include item;
		max-width: 555px;
		box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
		border-radius: 0 4px 4px 0;
		background-color: #ffffff;
		padding: 50px 40px;
		border-left: 2px solid $blue;
	}

	&__author {
		display: flex;
		align-items: center;
		margin-bottom: 18px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			background-image: url(../images/icon/bubble.svg);
			width: 57px;
			height: 57px;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__info {
	}
	&__avatar {
		width: 80px;
		height: 80px;
		border-radius: 50px;
		background-color: #7c7979;
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 0;
		margin-right: 19px;
	}

	&__name {
		display: block;
		color: #000;
		font-size: 20px;
		margin-bottom: 10px;
	}

	&__profession {
		display: block;
		color: #555555;
	}

	&__desc {
	}
}
// feddback end

.news {
	padding: 120px 0;
	background-color: #eff1f5;

	&__title {
		text-align: center;
		span {
			color: $blue;
		}
	}

	&__subtitle {
		margin: 0 auto 60px;
		max-width: 675px;
		text-align: center;
	}

	&__inner {
		align-items: stretch;
	}

	&__item {
		@include item;
		@include flex-c;
		overflow: hidden;
	}
	&__img {
		min-height: 230px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: block;
		transition: all 0.5s;
		&:hover {
			opacity: 0.7;
		}
	}
	&__text {
		padding: 30px;
		margin-bottom: auto;
	}
	&__item-title {
		color: #000000;
		font-size: 22px;
		font-weight: 500;
		line-height: 28px;
		margin-bottom: 15px;
		display: block;
	}
	&__desc {
	}

	&__info {
		border-top: 1px solid #ececec;
		padding: 10px 30px;
		font-size: 15px;
		color: #7e7e7e;
	}
	&__box {
		width: 50%;
		padding: 13px 0;
		border-left: 1px solid #ececec;
	}
	&__date {
		position: relative;
		margin-left: 23px;
		padding-right: 15px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -23px;
			background-image: url("../images/icon/clock.svg");
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
			background-size: cover;
			transform: translateY(-50%);
		}
	}
	&__comment {
		position: relative;
		margin-left: auto;
		margin-right: 55px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -23px;
			background-image: url("../images/icon/bubble-2.svg");
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
			background-size: cover;
			transform: translateY(-50%);
		}
	}

	&__views {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -24px;
			background-image: url("../images/icon/eye.svg");
			width: 17px;
			height: 17px;
			background-repeat: no-repeat;
			background-size: cover;
			transform: translateY(-50%);
		}
	}
}
//news end

.garantee {
	text-align: center;

	&__inner {
		justify-content: space-around;
	}
	&__item {
		width: 50%;
		padding: 217px 0 60px;
		min-height: 300px;
		&--support {
			border-left: 1px solid #e8eaf3;
		}
	}

	&__title {
		color: #000000;
		font-size: 24px;
		span {
			color: $blue;
		}
		position: relative;
		&:before {
			content: "";
			position: absolute;
			background-image: url(../images/icon/garantee.png);
			width: 150px;
			height: 120px;
			background-repeat: no-repeat;
			background-size: cover;
			top: -85px;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&--support {
			span {
				color: #7347c1;
			}
			&:before {
				// content: "";
				// position: absolute;
				background-image: url(../images/icon/support.png);
				width: 155px;
				height: 117px;
				// background-repeat: no-repeat;
				// background-size: cover;
				// top: -80px;
				// left: 50%;
				// transform: translate(-50%, -50%);
			}
		}
	}
}
// garantee end

.start {
	background: linear-gradient(to right, #1e5799 0%, #671e90 0%, #0c37da 100%);
	padding: 110px 0;
	text-align: center;
	color: #fff;
	&__title {
		color: #fff;
	}

	&__desc {
		margin-bottom: 50px;
	}

	&__btn {
	}
}
// start end)

.footer {
	color: #ababab;
	font-size: 15px;
	&__content {
		padding: 115px 0 130px;
		background-color: #262b30;
	}

	&__inner {
		align-items: stretch;
	}

	&__about {
		max-width: 285px;
		padding-right: 20px;
	}

	&__logo {
		margin-bottom: 20px;
		display: inline-block;
	}

	&__desc {
		margin-bottom: 35px;
	}

	&__link {
		display: inline-block;
		position: relative;
		padding-left: 30px;
		&::before {
			position: absolute;
			font-family: "Linearicons-Free";
			left: 0;
			color: #fff;
		}
		&--phone {
			&::before {
				content: "\e830";
			}
		}
		&--email {
			padding-left: 30px;
			&::before {
				content: "\e818";
			}
		}
		&--address {
			line-height: 26px;
			&::before {
				content: "\e833";
				top: 60%;
				transform: translateY(-50%);
			}
		}
		& + & {
			padding-top: 15px;
		}
	}
	&__link,
	&__social-link,
	&__col-link {
		color: #ababab;
		text-decoration: none;
	}
	&__col {
		max-width: 155px;
		padding-right: 20px;
	}
	&__col-link {
		display: inline-block;
	}
	&__title {
		color: #fff;
		font-size: 18px;
		letter-spacing: 0.9px;
		margin: 15px 0 28px;
	}
	&__list {
		padding: 7px 0 0 0;
	}
	&__line {
		list-style-type: none;
		& + & {
			padding-top: 15px;
		}
	}

	&__connection {
		max-width: 380px;
		padding-right: 20px;
	}

	&__subscribe {
	}

	&__form {
		position: relative;
		width: 360px;
	}

	&__input {
		width: 100%;
		height: 50px;
		padding: 20px 140px 20px 30px;
		border-radius: 25px;
		background-color: #fff;
		border: none;
		&::placeholder {
			color: #ababab;
		}
	}

	&__btn {
		min-width: 110px;
		height: 50px;
		padding: 15px 30px;
		border-radius: 25px;
		background-color: $blue;
		color: #fff;
		cursor: pointer;
		border: none;
		position: absolute;
		right: 0;
		top: 0;
		transition: all 0.5s;
		&:hover {
			opacity: 0.7;
		}
	}

	&__social {
		margin-top: 45px;
	}

	&__social-list {
		padding: 0;
	}

	&__social-line {
		list-style-type: none;
		width: 42px;
		height: 42px;
		display: inline-block;
		& + & {
			margin-left: 10px;
		}
	}

	&__social-link {
		position: relative;
		background-color: #395799;
		border-radius: 50px;
		display: inline-block;
		width: 42px;
		height: 42px;
		&--twitter {
			background-color: #19b2f5;
		}
		&--google {
			background-color: #f05b44;
		}
		&--pinterest {
			background-color: #9c0c1c;
		}
		&--linkedin {
			background-color: #0da6be;
		}
		&--dribbble {
			background-color: #ea4c89;
		}
		&::before {
			content: "\f09a";
			position: absolute;
			font-family: "icomoon";
			color: #fff;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&--twitter {
			&::before {
				content: "\f099";
			}
		}
		&--google {
			&::before {
				content: "\f1a0";
			}
		}
		&--pinterest {
			&::before {
				content: "\f0d2";
			}
		}
		&--linkedin {
			&::before {
				content: "\f0e1";
			}
		}
		&--dribbble {
			&::before {
				content: "\f17d";
			}
		}
		transition: all 0.5s;
		&:hover {
			opacity: 0.7;
		}
	}
	&__bottom {
		text-align: center;
		color: #999999;
		padding: 40px 0;
		background-color: #192027;
	}

	&__botom-text {
		span {
			color: #fff;
		}
	}
}
